<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="build/css/min/VagaDev-042018.min.css">
    <title>VagaDev-042018 - LucasAmaral</title>
</head>

<body>

    <main>
        <header>
            <div class="header-content">
                <img src="files/img/logo.jpg" alt="logo">

                <nav>
                    <div class="menu-responsivo">
                        <img src="files/img/responsive-menu-icon.png" alt="responsive icon">
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="javascript:;">html</a>
                            <div class="container-submenu">
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:;">css</a>
                            <div class="container-submenu">
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:;">javascript</a>
                            <div class="container-submenu">
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:;">sass</a>
                            <div class="container-submenu">
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="javascript:;">grunt</a>
                            <div class="container-submenu">
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                                <ul class="submenu">
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="javascript:;">submenu</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="header-right-content">
                    <div class="search-area">
                        <input type="text" name="search" placeholder="Digite sua busca">
                        <button class="search-button-desktop">
                            <img src="files/img/search.png" alt="search">
                        </button>

                        <button class="search-button-mobile">
                            <img src="files/img/search.png" alt="search">
                        </button>
                    </div>
                    <div class="container-cart">
                        <img src="files/img/online-shopping-cart.png" alt="cart icon">

                        <span class="cart-content-unity">0</span>
                    </div>
                </div>

            </div>
        </header>

        <div class="container-banners" id="carousel">

            <ul class="banner-carousel">
                <li class="carousel-item" v-for="banner in banners">
                    <img v-bind:src="'files/Banners/' + banner.src" v-bind:alt="banner.alt">
                </li>
            </ul>

        </div>

        <div class="container-products" id="featuredProducts">
            <p class="product-title">Produtos em destaque</p>

            <ul class="product-carousel">
                <li class="product-item" v-for="featuredCard in featuredCards">
                    <div class="product-card">
                        <div class="product-img">
                            <img v-bind:src="'files/img/' + featuredCard.src" v-bind:alt="featuredCard.alt">
                        </div>

                        <div class="product-description">

                            <div class="description-text">
                                <p class="description-title">{{featuredCard.title}}</p>
                                <p class="description-caption">{{featuredCard.caption}}</p>
                            </div>

                            <div class="description-price">
                                <span class="cifrao">R$</span>
                                <span class="price">{{featuredCard.price}}
                                    <span class="cents">,00</span>
                                </span>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>


        </div>

        <div class="container-products" id="newProducts">
            <p class="product-title">Novidades</p>

            <ul class="product-carousel">
                <li class="product-item" v-for="newCard in newCards">
                    <div class="product-card">
                        <div class="product-img">
                            <img v-bind:src="'files/img/' + newCard.src" v-bind:alt="newCard.alt">
                        </div>

                        <div class="product-description">

                            <div class="description-text">
                                <p class="description-title">{{newCard.title}}</p>
                                <p class="description-caption">{{newCard.caption}}</p>
                            </div>

                            <div class="description-price">
                                <span class="cifrao">R$</span>
                                <span class="price">{{newCard.price}}
                                    <span class="cents">,00</span>
                                </span>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>


        </div>

    </main>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="build/js/min/VagaDev-042018.min.js"></script>
</body>

</html>