body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@import "modules/fonts";
@import "modules/lightbox";
@import "modules/header";
@import "modules/custom";
@import "modules/banners";
@import "modules/products";